.Footer {
  margin-top: 1em;
  text-align: center;
}
.my-socials {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.leave-a-star a {
  color: #191919;
}
